body {
    height: 100vh;
    background-image: url(https://media4.giphy.com/media/l3q2XB76CaWPggiNW/giphy.gif?cid=ecf05e47sj5f3o29tyrp5i50cbr257h4873vksltp0iwvurm&rid=giphy.gif&ct=g);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    img
    opacity: 100%;
}

section {
    background-color: darkgray;
    margin: 0px 100px 0px 100px;
}
.forms {
    display: flexbox;
    flex-wrap: wrap;

    align-items: center;
    text-align: center;
}

h1 {
    font-size: 60pt;
    color:deeppink;
    text-align: center;
    margin: 0;

}

h2 {

}

h3 {

}

select{
    border:3px solid rgb(238, 237, 236);
    border-radius: 11px;
    font-size: 15px;
    font-weight: bold;
    padding: 3px;
  }